<h1 class="text-center">InstructorRater</h1>

<br><br>

<br>

<!-- Buttons -->
<div class="text-center">

	<a class="btn btn-default text-center" href="ratings" role="button">View Professor Ratings</a>

	<a class="btn btn-default text-center" href="ratings/new" role="button">New Professor Rating</a>

</div>