<h1 class="text-center">InstructorRater</h1>

<br><br>

<!-- Table -->
<div class="container">
	<table class="table table-striped table-bordered table-hover">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th>Column heading</th>
	        <th>Column heading</th>
	        <th>Column heading</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>1</td>
	        <td>Column content</td>
	        <td>Column content</td>
	        <td>Column content</td>
	      </tr>
	      <tr>
	        <td>2</td>
	        <td>Column content</td>
	        <td>Column content</td>
	        <td>Column content</td>
	      </tr>
	      <tr>
	        <td>3</td>
	        <td>Column content</td>
	        <td>Column content</td>
	        <td>Column content</td>
	      </tr>
	      <tr>
	        <td>4</td>
	        <td>Column content</td>
	        <td>Column content</td>
	        <td>Column content</td>
	      </tr>
	      <tr>
	        <td>5</td>
	        <td>Column content</td>
	        <td>Column content</td>
	        <td>Column content</td>
	      </tr>
	      <tr>
	        <td>6</td>
	        <td>Column content</td>
	        <td>Column content</td>
	        <td>Column content</td>
	      </tr>
	      <tr>
	        <td>7</td>
	        <td>Column content</td>
	        <td>Column content</td>
	        <td>Column content</td>
	      </tr>
	    </tbody>
	</table>
</div>

<br>

<!-- Button -->
<div class="text-center">
	<a class="btn btn-default text-center" href="ratings/new" role="button">New Professor Rating</a>
</div>